.home {
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 400px;
}
  
  .home p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .home ul {
    list-style-type: none;
    padding: 0;
  }
  
  .home ul li {
    margin-bottom: 10px;
  }
  
  .home ul li::before {
    content: "•";
    color: #007bff; /* You can change the color as needed */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .home ul li strong {
    font-weight: bold;
  }