.vaccine-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width:700px;
    margin-top: 20px;
    margin-left: 610px;
  }

.form-item{
    width: 170px;
  }

.form-button{
    display: flex;
    gap: 20px;
}